if SHIELD_CORNE_XIAO_DONGLE

config ZMK_KEYBOARD_NAME
	default "Corne"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
	default 2

config BT_MAX_CONN
    default 6

config BT_MAX_PAIRED
    default 6

endif

if SHIELD_CORNE_XIAO_LEFT

config ZMK_KEYBOARD_NAME
	default "Corne_Left"

endif

if SHIELD_CORNE_XIAO_RIGHT

config ZMK_KEYBOARD_NAME
	default "Corne_Right"

endif

if SHIELD_CORNE_XIAO_LEFT || SHIELD_CORNE_XIAO_RIGHT

config ZMK_SPLIT_ROLE_CENTRAL
	default n
 
endif

if SHIELD_CORNE_XIAO_DONGLE || SHIELD_CORNE_XIAO_LEFT || SHIELD_CORNE_XIAO_RIGHT

	config ZMK_SPLIT
		default y

endif
