# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CORNE_LP_LEFT
	def_bool $(shields_list_contains,corne_lp_left)

config SHIELD_CORNE_LP_RIGHT
	def_bool $(shields_list_contains,corne_lp_right)
