/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define COMBO_TIMEOUT 60

#define DEF 0
#define ONE 1
#define TWO 2
#define THR 3
#define FOU 4
#define FIV 5
#define SIX 6

/ {
    combos {
        compatible = "zmk,combos";

 	    combo_del {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

    };
};

/ {
	behaviors {
        
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        td_l1: tap_dance_layer_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt ONE ESC>, <&kp ESC>;
        };
        
        td_l2: tap_dance_layer_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt TWO SPACE>, <&kp SPACE>;
        };

        td_l3: tap_dance_layer_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt THR TAB>, <&kp TAB>;
        };

        td_l4: tap_dance_layer_4 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt FOU RET>, <&kp RET>;
        };
        
        td_l5: tap_dance_layer_5 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt FIV BSPC>, <&kp BSPC>;
        };

        td_l6: tap_dance_layer_6 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&lt SIX DEL>, <&kp DEL>;
        };

     };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|
// |      Q      |      W      |      E      |      R      |      T      |                    |      Y      |      U      |      I      |      O      |      P      |
// |      A      |      S      |      D      |      F      |      G      |                    |      H      |      J      |      K      |      L      |      '      |
// |      Z      |      X      |      C      |      V      |      B      |                    |      N      |      M      |      ,      |      .      |      /      |
// |                           |     ESC     |    SPACE    |     TAB     |                    |     RET     |    BSPC     |     DEL     |                           |
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|

// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp Q         &kp W         &kp E         &kp R         &kp T                              &kp Y         &kp U         &kp I         &kp O         &kp P
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp A         &kp S         &kp D         &kp F         &kp G                              &kp H         &kp J         &kp K         &kp L         &kp SQT
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
    &mt LSHFT Z     &kp X         &kp C         &kp V         &kp B                              &kp N         &kp M         &kp COMMA      &kp DOT    &mt RSHFT FSLH
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
                                  &td_l1        &td_l2        &td_l3                             &td_l4        &td_l5        &td_l6
//                             |-------------|-------------|-------------|                    |-------------|-------------|-------------|
            >;
        };

        first_layer {
            bindings = <
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|
// |      A      |      W      |      E      |      R      |      T      |                    |      Y      |      U      |      I      |      O      |      P      |
// |      A      |      S      |      D      |      F      |      G      |                    |      H      |      J      |      K      |      L      |      '      |
// |      Z      |      X      |      C      |      V      |      B      |                    |      N      |      M      |      ,      |      .      |      /      |
// |                           |     ESC     |    SPACE    |     TAB     |                    |     RET     |    BSPC     |     DEL     |                           |
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|

// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp A         &kp W         &kp E         &kp R         &kp T                              &kp Y         &kp U         &kp I         &kp O         &kp P
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp A         &kp S         &kp D         &kp F         &kp G                              &kp H         &kp J         &kp K         &kp L         &kp SQT
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp Z         &kp X         &kp C         &kp V         &kp B                              &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
                                 &kp LGUI       &kp HOME    &mt LCTRL RET                        &kp SPACE     &kp END     &mt RALT LG(V)
//                             |-------------|-------------|-------------|                    |-------------|-------------|-------------|
            >;
        };

        second_layer {
            bindings = <
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|
// |      B      |      W      |      E      |      R      |      T      |                    |      Y      |      U      |      I      |      O      |      P      |
// |      A      |      S      |      D      |      F      |      G      |                    |      H      |      J      |      K      |      L      |      '      |
// |      Z      |      X      |      C      |      V      |      B      |                    |      N      |      M      |      ,      |      .      |      /      |
// |                           |     ESC     |    SPACE    |     TAB     |                    |     RET     |    BSPC     |     DEL     |                           |
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|

// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp B         &kp W         &kp E         &kp R         &kp T                              &kp Y         &kp U         &kp I         &kp O         &kp P
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp A         &kp S         &kp D         &kp F         &kp G                              &kp H         &kp J         &kp K         &kp L         &kp SQT
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp Z         &kp X         &kp C         &kp V         &kp B                              &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
                                 &kp LGUI       &kp HOME    &mt LCTRL RET                        &kp SPACE     &kp END     &mt RALT LG(V)
//                             |-------------|-------------|-------------|                    |-------------|-------------|-------------|
            >;
        };

        third_layer {
            bindings = <
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|
// |      C      |      W      |      E      |      R      |      T      |                    |      Y      |      U      |      I      |      O      |      P      |
// |      A      |      S      |      D      |      F      |      G      |                    |      H      |      J      |      K      |      L      |      '      |
// |      Z      |      X      |      C      |      V      |      B      |                    |      N      |      M      |      ,      |      .      |      /      |
// |                           |     ESC     |    SPACE    |     TAB     |                    |     RET     |    BSPC     |     DEL     |                           |
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|

// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp C         &kp W         &kp E         &kp R         &kp T                              &kp Y         &kp U         &kp I         &kp O         &kp P
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp A         &kp S         &kp D         &kp F         &kp G                              &kp H         &kp J         &kp K         &kp L         &kp SQT
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp Z         &kp X         &kp C         &kp V         &kp B                              &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
                                 &kp LGUI       &kp HOME    &mt LCTRL RET                        &kp SPACE     &kp END     &mt RALT LG(V)
//                             |-------------|-------------|-------------|                    |-------------|-------------|-------------|
            >;
        };
        
        fourth_layer {
            bindings = <
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|
// |      D      |      W      |      E      |      R      |      T      |                    |      Y      |      U      |      I      |      O      |      P      |
// |      A      |      S      |      D      |      F      |      G      |                    |      H      |      J      |      K      |      L      |      '      |
// |      Z      |      X      |      C      |      V      |      B      |                    |      N      |      M      |      ,      |      .      |      /      |
// |                           |     ESC     |    SPACE    |     TAB     |                    |     RET     |    BSPC     |     DEL     |                           |
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|

// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp D         &kp W         &kp E         &kp R         &kp T                              &kp Y         &kp U         &kp I         &kp O         &kp P
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp A         &kp S         &kp D         &kp F         &kp G                              &kp H         &kp J         &kp K         &kp L         &kp SQT
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp Z         &kp X         &kp C         &kp V         &kp B                              &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
                                 &kp LGUI       &kp HOME    &mt LCTRL RET                        &kp SPACE     &kp END     &mt RALT LG(V)
//                             |-------------|-------------|-------------|                    |-------------|-------------|-------------|
            >;
        };

        fifth_layer {
            bindings = <
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|
// |      E      |      W      |      E      |      R      |      T      |                    |      Y      |      U      |      I      |      O      |      P      |
// |      A      |      S      |      D      |      F      |      G      |                    |      H      |      J      |      K      |      L      |      '      |
// |      Z      |      X      |      C      |      V      |      B      |                    |      N      |      M      |      ,      |      .      |      /      |
// |                           |     ESC     |    SPACE    |     TAB     |                    |     RET     |    BSPC     |     DEL     |                           |
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|

// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp E         &kp W         &kp E         &kp R         &kp T                              &kp Y         &kp U         &kp I         &kp O         &kp P
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp A         &kp S         &kp D         &kp F         &kp G                              &kp H         &kp J         &kp K         &kp L         &kp SQT
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp Z         &kp X         &kp C         &kp V         &kp B                              &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
                                 &kp LGUI       &kp HOME    &mt LCTRL RET                        &kp SPACE     &kp END     &mt RALT LG(V)
//                             |-------------|-------------|-------------|                    |-------------|-------------|-------------|
            >;
        };

        sixth_layer {
            bindings = <
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|
// |      F      |      W      |      E      |      R      |      T      |                    |      Y      |      U      |      I      |      O      |      P      |
// |      A      |      S      |      D      |      F      |      G      |                    |      H      |      J      |      K      |      L      |      '      |
// |      Z      |      X      |      C      |      V      |      B      |                    |      N      |      M      |      ,      |      .      |      /      |
// |                           |     ESC     |    SPACE    |     TAB     |                    |     RET     |    BSPC     |     DEL     |                           |
// |----------------------------------------------------------------------------------------------------------------------------------------------------------------|

// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp F         &kp W         &kp E         &kp R         &kp T                              &kp Y         &kp U         &kp I         &kp O         &kp P
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp A         &kp S         &kp D         &kp F         &kp G                              &kp H         &kp J         &kp K         &kp L         &kp SQT
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
      &kp Z         &kp X         &kp C         &kp V         &kp B                              &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH
// |-------------|-------------|-------------|-------------|-------------|                    |-------------|-------------|-------------|-------------|-------------|
                                 &kp LGUI       &kp HOME    &mt LCTRL RET                        &kp SPACE     &kp END     &mt RALT LG(V)
//                             |-------------|-------------|-------------|                    |-------------|-------------|-------------|
            >;
        };

    };
};
